Repository woowa-techcamp-2022/web-fleamarket-6, pull requests merged in 2022-08, with the labels that each got.

#5 리액트 라우터 core 기능 및 hooks 구현
  frontend/src/App.tsx
  frontend/src/lib/Router/components/Link.tsx
  frontend/src/lib/Router/components/PathProvider.tsx
  frontend/src/lib/Router/components/Route.tsx
  frontend/src/lib/Router/components/Router.tsx
  frontend/src/lib/Router/components/Routes.tsx
  frontend/src/lib/Router/hooks.ts
  frontend/src/lib/Router/index.tsx
  frontend/src/lib/Router/location.ts
  frontend/src/lib/Router/utils.ts
  frontend/src/pages/Home.tsx
Labels: frontend, feature

#7 유저 정보 전역 컨텍스트 생성
  frontend/src/context/UserInfoContext.tsx
Labels: frontend, feature

#8 MSW 설치 및 간단한 API 모킹
  frontend/mockServiceWorker.js
  frontend/package.json
  frontend/src/main.tsx
  frontend/src/mocks/browser.ts
  frontend/src/mocks/data.ts
  frontend/src/mocks/handlers.ts
  frontend/yarn.lock
Labels: frontend, backend

#10 MySQL 연결 및 기초 테이블 Scheme 생성
  backend/src/app.module.ts
  backend/src/config/mysql.module.ts
  backend/src/config/mysql.service.ts
Labels: backend, feature

#12 Home Page 구성
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/assets/icons/icons.ts
  frontend/src/components/HomeNavbar/HomeNavbar.tsx
  frontend/src/components/Post/PostAddButton.tsx
  frontend/src/components/Product/ProductItem.style.ts
  frontend/src/components/Product/ProductItem.tsx
  frontend/src/lib/Router/components/Link.tsx
  frontend/src/lib/Router/components/LinkButton.tsx
  frontend/src/lib/Router/components/PathProvider.tsx
  frontend/src/lib/Router/hooks.ts
  frontend/src/lib/Router/index.tsx
  frontend/src/mocks/data.ts
  frontend/src/pages/Home.tsx
  frontend/src/styles/GlobalStyles.ts
  frontend/src/styles/colors.ts
  frontend/src/styles/reset.ts
  frontend/src/types/product.ts
  frontend/src/vite-env.d.ts
  frontend/vite.config.ts
  frontend/yarn.lock
Labels: frontend, feature

#14 라우팅 간 state 전달하는 기능 추가
  frontend/src/lib/Router/components/Link.tsx
  frontend/src/lib/Router/components/LinkButton.tsx
  frontend/src/lib/Router/components/PathProvider.tsx
  frontend/src/lib/Router/hooks.ts
Labels: frontend, feature

#26 S3 환경설정 및 업로드한 이미지 URL 받아오는 기능 구현
  backend/package.json
  backend/src/app.module.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.ts
  backend/src/config/mysql/mysql.module.ts
  backend/src/config/mysql/mysql.service.ts
  backend/src/config/s3/s3.module.ts
  backend/src/config/s3/s3.service.ts
  backend/src/product/product.controller.ts
  backend/src/product/product.module.ts
  backend/src/product/product.service.ts
  backend/yarn.lock
Labels: setup, backend

#31 회원가입 페이지 구현
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.ts
  backend/src/config/mysql/mysql.service.ts
  backend/src/main.ts
  backend/yarn.lock
  frontend/src/components/CustomInput.tsx
  frontend/src/pages/Auth/SignIn.tsx
  frontend/src/pages/Auth/SignUp.tsx
Labels: frontend, backend, feature

#32 GET /product API 구현하기
  backend/package.json
  backend/src/product/product.controller.ts
  backend/src/product/product.module.ts
  backend/src/product/product.service.ts
  backend/src/product/types/product.ts
  backend/yarn.lock
Labels: backend, feature

#37 상품 상세정보 조회 API 구현
  backend/src/main.ts
  backend/src/product/product.controller.ts
  backend/src/product/product.service.ts
  backend/src/product/types/product.ts
Labels: backend, feature

#36 캐싱기능 보완 및 카테고리 라우팅
  frontend/mockServiceWorker.js
  frontend/package.json
  frontend/src/components/HomeNavbar/HomeNavbar.tsx
  frontend/src/components/PageHeader/PageHeader.tsx
  frontend/src/components/Product/ProductItem.tsx
  frontend/src/hooks/useQuery.ts
  frontend/src/lib/MemoryCache/index.ts
  frontend/src/lib/Router/components/Link.tsx
  frontend/src/lib/Router/components/LinkButton.tsx
  frontend/src/lib/Router/components/PathProvider.tsx
  frontend/src/main.tsx
  frontend/src/mocks/browser.ts
  frontend/src/mocks/data.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/Category.tsx
  frontend/src/pages/Home.tsx
  frontend/src/utils/index.ts
  frontend/yarn.lock
Labels: frontend, feature

#40 글쓰기 API, 인터페이스 구현
  backend/src/product/product.controller.ts
  backend/src/product/product.service.ts
  backend/src/product/product.type.ts
  frontend/src/App.tsx
  frontend/src/assets/icons/icons.ts
  frontend/src/components/HOC/witCheckLogin.tsx
  frontend/src/context/CategoryContext.tsx
  frontend/src/pages/Post/PostManager.tsx
Labels: frontend, backend, feature, design

#43 유저 region을 변경하는 페이지 구현
  backend/src/app.module.ts
  backend/src/auth/auth.service.ts
  backend/src/region/region.controller.ts
  backend/src/region/region.module.ts
  backend/src/region/region.service.ts
  frontend/src/components/CustomInput.tsx
  frontend/src/components/HOC/witCheckLogin.tsx
  frontend/src/components/HOC/withCheckLogin.tsx
  frontend/src/components/HomeNavbar/HomeNavbar.tsx
  frontend/src/lib/Router/components/Link.tsx
  frontend/src/lib/Router/components/LinkButton.tsx
  frontend/src/lib/Router/components/PathProvider.tsx
  frontend/src/pages/Auth/OAuthRedirect.tsx
  frontend/src/pages/Post/PostManager.tsx
  frontend/src/pages/RegionInfo.tsx
  frontend/src/types/region.ts
Labels: frontend, backend, feature

#48 상품 좋아요 기능 구현
  backend/src/product/product.controller.ts
  backend/src/product/product.service.ts
  backend/src/product/product.type.ts
  backend/src/product/types/product.ts
  frontend/src/components/Product/ProductItem.style.ts
  frontend/src/components/Product/ProductItem.tsx
  frontend/src/pages/Home.tsx
  frontend/src/types/product.ts
  frontend/src/utils/debounce.ts
  frontend/src/utils/parse.ts
Labels: frontend, backend, feature

#49 캐시만료시간옵션 추가 및 CategoryProvider 제거
  frontend/src/App.tsx
  frontend/src/context/CategoryContext.tsx
  frontend/src/hooks/useQuery.ts
  frontend/src/lib/MemoryCache/index.ts
  frontend/src/pages/Category.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/Post/PostManager.tsx
  frontend/src/pages/RegionInfo.tsx
Labels: frontend, feature

#51 Auth 관련 로직 JWT 적용
  backend/package.json
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.ts
  backend/yarn.lock
  frontend/src/App.tsx
  frontend/src/context/UserInfoContext.tsx
  frontend/src/hooks/useToken.ts
  frontend/src/lib/api.ts
  frontend/src/main.tsx
  frontend/src/pages/Auth/OAuthRedirect.tsx
  frontend/src/pages/Auth/SignIn.tsx
  frontend/src/pages/Auth/SignUp.tsx
Labels: frontend, backend, feature

#52 Refactor/be structure
  backend/src/app.module.ts
  backend/src/constants/auth.ts
  backend/src/domain/auth/auth.controller.ts
  backend/src/domain/auth/auth.module.ts
  backend/src/domain/auth/auth.service.ts
  backend/src/domain/auth/type/auth.ts
  backend/src/domain/category/category.controller.ts
  backend/src/domain/category/category.module.ts
  backend/src/domain/category/category.service.ts
  backend/src/domain/product/product.controller.ts
  backend/src/domain/product/product.module.ts
  backend/src/domain/product/product.service.ts
  backend/src/domain/product/types/product.ts
  backend/src/domain/region/region.controller.ts
  backend/src/domain/region/region.module.ts
  backend/src/domain/region/region.service.ts
  backend/src/domain/region/types/region.ts
  frontend/src/main.tsx
  frontend/src/pages/Auth/SignUp.tsx
Labels: backend, refactoring

#54 decoded undefined 로 나오는 이슈 수정
  backend/src/domain/auth/auth.service.ts
Labels: bugfix, backend

#53 Feat/custom input
  frontend/src/components/CustomInput.tsx
  frontend/src/constants/validation.ts
  frontend/src/hooks/useTextInputs.ts
  frontend/src/pages/Auth/SignIn.tsx
  frontend/src/pages/Auth/SignUp.tsx
Labels: frontend, feature

#58 useDropdown 훅 작성
  frontend/src/App.tsx
  frontend/src/hooks/useManageDropdown.tsx
  frontend/src/pages/Post/PostDetail.tsx
Labels: frontend, feature

#60 Feat/region auto search
  frontend/index.html
  frontend/src/components/HOC/withCheckLogin.tsx
  frontend/src/components/PageHeader/PageHeader.tsx
  frontend/src/components/Product/ProductList.tsx
  frontend/src/components/commons/Modal/Modal.tsx
  frontend/src/components/commons/Modal/ModalPortal.tsx
  frontend/src/context/UserInfoContext.tsx
  frontend/src/hooks/useModal.tsx
  frontend/src/hooks/useToken.ts
  frontend/src/pages/Post/PostManager.tsx
  frontend/src/pages/RegionInfo.tsx
Labels: frontend, feature

#62 파일 멀티 업로드, 썸네일 삭제 기능 추가
  frontend/src/components/Post/ImagePreview.tsx
  frontend/src/components/Post/ImagePreviewList.tsx
  frontend/src/pages/Post/PostManager.tsx
Labels: frontend, feature

#63 무한 스크롤 구현
  frontend/src/components/commons/Loading.tsx
  frontend/src/hooks/useProductInfiniteScroll.ts
  frontend/src/pages/Home.tsx
Labels: frontend, feature

#65 상품 삭제하기 관련 기능
  backend/src/domain/product/product.controller.ts
  backend/src/domain/product/product.service.ts
  frontend/src/components/commons/Dropdown.tsx
  frontend/src/components/commons/Modal/Modal.tsx
  frontend/src/hooks/useManageDropdown.tsx
  frontend/src/hooks/useProductLike.ts
  frontend/src/lib/MemoryCache/index.ts
  frontend/src/types/product.ts
Labels: frontend, backend, feature

#66 상품 수정하기 관련 기능
  backend/src/domain/product/product.controller.ts
  backend/src/domain/product/product.service.ts
  backend/src/domain/product/types/product.ts
  frontend/src/components/Post/ImagePreviewList.tsx
  frontend/src/hooks/useProductInfiniteScroll.ts
  frontend/src/hooks/useQuery.ts
  frontend/src/pages/Post/PostDetail.tsx
  frontend/src/pages/Post/PostManager.tsx
  frontend/src/styles/colors.ts
  frontend/src/utils/parse.ts
Labels: frontend, backend, feature

#68 마이페이지 관심목록, 판매목록 구현
  backend/src/domain/auth/auth.controller.ts
  backend/src/domain/product/product.controller.ts
  backend/src/domain/product/product.service.ts
  backend/src/domain/product/types/product.ts
  frontend/src/components/HomeNavbar/HomeNavbar.tsx
  frontend/src/components/My/ChatRoomList.tsx
  frontend/src/components/My/MyLikePostList.tsx
  frontend/src/components/My/MyPostList.tsx
  frontend/src/components/Product/ProductItem.tsx
  frontend/src/components/commons/Dropdown.tsx
  frontend/src/constants/tabs.ts
  frontend/src/context/UserInfoContext.tsx
  frontend/src/hooks/useGetProducts.ts
  frontend/src/hooks/useInfiniteScroll.ts
  frontend/src/hooks/useMyPage.tsx
  frontend/src/hooks/useProductInfiniteScroll.ts
  frontend/src/pages/Home.tsx
  frontend/src/pages/My.tsx
  frontend/src/pages/Post/PostManager.tsx
  frontend/src/styles/colors.ts
Labels: frontend, backend, feature

#73 회원가입, 지역 검색 로직 리팩토링
  frontend/src/components/RegionSearchContainer.tsx
  frontend/src/hooks/useRegionSearch.ts
  frontend/src/pages/Auth/SignUp.tsx
  frontend/src/pages/RegionInfo.tsx
  frontend/src/types/region.ts
Labels: frontend, refactoring

#76 채팅 기능 기본 세팅 및 스타일링
  backend/package.json
  backend/src/app.module.ts
  backend/src/config/mysql/mysql.service.ts
  backend/src/constants/socketEvent.ts
  backend/src/domain/auth/auth.controller.ts
  backend/src/domain/chat/chat.adaptor.ts
  backend/src/domain/chat/chat.controller.ts
  backend/src/domain/chat/chat.gateway.ts
  backend/src/domain/chat/chat.module.ts
  backend/src/domain/chat/chat.service.ts
  backend/src/domain/chat/dto/chatRoom.ts
  backend/src/domain/chat/dto/create-chat.dto.ts
  backend/src/domain/chat/dto/update-chat.dto.ts
  backend/src/domain/product/product.service.ts
  backend/src/main.ts
  backend/yarn.lock
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/Chat/ChatList.tsx
  frontend/src/components/Chat/ChatMessage.tsx
  frontend/src/components/My/ChatRoomList.tsx
  frontend/src/components/My/MyLikePostList.tsx
  frontend/src/components/commons/ThumbnailImage.tsx
  frontend/src/constants/defaultThumbnail.ts
  frontend/src/constants/socketEvent.ts
  frontend/src/hooks/useChatRooms.ts
  frontend/src/hooks/useMyPage.tsx
  frontend/src/hooks/useSocket.ts
  frontend/src/hooks/useTextInputs.ts
  frontend/src/pages/Category.tsx
  frontend/src/pages/Chat.tsx
  frontend/src/pages/Chat/ChatList.tsx
  frontend/src/pages/Chat/ChatRoom.tsx
  frontend/src/pages/My.tsx
  frontend/src/pages/Post/PostDetail.tsx
  frontend/src/pages/Post/PostManager.tsx
  frontend/src/types/chat.ts
  frontend/src/types/chatRoom.ts
  frontend/yarn.lock
Labels: frontend, backend, feature

#78 자잘한 스타일링들 교정
  backend/src/domain/auth/auth.module.ts
  backend/src/domain/product/product.controller.ts
  backend/src/domain/product/product.module.ts
  frontend/src/assets/icons/categoryIcon.svg
  frontend/src/assets/icons/mapPinIcon.svg
  frontend/src/assets/icons/menuIcon.svg
  frontend/src/assets/login-banner.png
  frontend/src/components/HomeNavbar/HomeNavbar.tsx
  frontend/src/components/PageHeader/PageHeader.tsx
  frontend/src/components/Product/ProductItem.tsx
  frontend/src/components/commons/Dropdown.tsx
  frontend/src/components/commons/Loading.tsx
  frontend/src/constants/limit.ts
  frontend/src/pages/Auth/SignIn.tsx
  frontend/src/pages/My.tsx
  frontend/src/pages/Post/PostDetail.tsx
  frontend/src/pages/Post/PostManager.tsx
  frontend/src/pages/RegionInfo.tsx
  frontend/src/styles/GlobalStyles.ts
  frontend/src/styles/colors.ts
  frontend/src/styles/keyframes.ts
  frontend/src/styles/mixin.ts
  frontend/src/utils/parse.ts
Labels: frontend, cleanup, design

#79 Toast 컴포넌트 구현
  frontend/index.html
  frontend/src/App.tsx
  frontend/src/components/commons/Modal/ModalPortal.tsx
  frontend/src/components/commons/Toast/ToastContainer.tsx
  frontend/src/components/commons/Toast/ToastContent.tsx
  frontend/src/context/ToastContext.tsx
  frontend/src/hooks/useToast.ts
  frontend/src/main.tsx
  frontend/src/pages/Home.tsx
  frontend/src/styles/keyframes.ts
  frontend/src/utils/index.ts
Labels: frontend, feature

#80 404 NotFound 페이지 추가
  frontend/src/App.tsx
  frontend/src/assets/notfound-banner.png
  frontend/src/components/commons/Dropdown.tsx
  frontend/src/lib/Router/components/Routes.tsx
  frontend/src/pages/Auth/SignIn.tsx
  frontend/src/pages/NotFound.tsx
  frontend/src/pages/Post/PostDetail.tsx
  frontend/src/styles/keyframes.ts
Labels: frontend, design

#81 이미지 슬라이더 구현, 이미지 10개 이상 올라가는 버그 수정
  frontend/src/assets/icons/arrow.svg
  frontend/src/assets/icons/icons.ts
  frontend/src/components/Post/ImageSlider.tsx
  frontend/src/components/commons/Slider.tsx
  frontend/src/hooks/useSlide.ts
  frontend/src/pages/Post/PostDetail.tsx
  frontend/src/pages/Post/PostManager.tsx
  frontend/src/types/product.ts
Labels: frontend, feature

#82 Route Transition 기능 구현
  frontend/src/App.tsx
  frontend/src/hooks/useManageDropdown.tsx
  frontend/src/hooks/useQuery.ts
  frontend/src/lib/Router/components/Link.tsx
  frontend/src/lib/Router/components/LinkButton.tsx
  frontend/src/lib/Router/components/Router.tsx
  frontend/src/lib/Router/components/Routes.tsx
  frontend/src/lib/Router/components/Transition/Transition.tsx
  frontend/src/lib/Router/components/Transition/useHistoryStack.tsx
  frontend/src/lib/Router/components/Transition/useTransitionHelper.tsx
  frontend/src/lib/Router/historyStack.ts
  frontend/src/lib/Router/hooks.ts
  frontend/src/lib/Router/location.ts
  frontend/src/lib/Router/providers/LocationProvider.tsx
  frontend/src/lib/Router/providers/PathProvider.tsx
  frontend/src/lib/Router/utils.ts
  frontend/src/lib/Router/utils.tsx
  frontend/src/main.tsx
  frontend/src/pages/Post/PostDetail.tsx
  frontend/src/pages/Post/PostManager.tsx
Labels: frontend, feature

#84 디폴트 이미지 생성 및 적용
  frontend/src/assets/default_image.png
  frontend/src/components/Post/ImageSlider.tsx
  frontend/src/components/Product/ProductItem.tsx
  frontend/src/components/commons/Slider.tsx
  frontend/src/constants/defaultThumbnail.ts
  frontend/src/hooks/useManageDropdown.tsx
  frontend/src/pages/Category.tsx
  frontend/src/pages/Chat/ChatRoom.tsx
  frontend/src/pages/Post/PostDetail.tsx
  frontend/src/types/product.ts
Labels: frontend, feature

#85 배포환경 관련 세팅
  .github/workflows/depoly.yml
  .gitignore
  backend/package.json
  backend/src/app.module.ts
  backend/src/config/mysql/mysql.service.ts
  frontend/index.html
  frontend/public/favicon-16x16.png
  frontend/src/components/PageHeader/PageHeader.tsx
  frontend/src/components/commons/Toast/ToastContainer.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/Auth/SignUp.tsx
  frontend/src/utils/debounce.ts
  frontend/vite.config.ts
Labels: setup, release

#86 hotfix: 라우트 애니메이션 간 FAB 숨김처리/배포 시 타입에러
  backend/src/config/mysql/mysql.service.ts
  backend/src/domain/auth/auth.controller.ts
  backend/src/domain/auth/auth.service.ts
  backend/src/domain/auth/type/auth.ts
  frontend/src/components/CustomInput.tsx
  frontend/src/components/Post/PostAddButton.tsx
  frontend/src/constants/validation.ts
  frontend/src/lib/Router/components/Transition/Transition.tsx
  frontend/src/pages/Auth/OAuthRedirect.tsx
  frontend/src/pages/Auth/SignIn.tsx
  frontend/src/pages/Auth/SignUp.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/Post/PostManager.tsx
  frontend/src/types/theme.d.ts
Labels: bugfix, frontend

#88 토스트를 통해 예외상황 인지시키기
  backend/src/domain/auth/auth.service.ts
  backend/src/domain/product/product.controller.ts
  backend/src/domain/product/product.service.ts
  frontend/src/components/commons/Toast/ToastContainer.tsx
  frontend/src/hooks/useProductLike.ts
  frontend/src/pages/Auth/SignIn.tsx
  frontend/src/pages/Auth/SignUp.tsx
  frontend/src/pages/Chat/ChatRoom.tsx
  frontend/src/pages/Post/PostDetail.tsx
  frontend/src/pages/Post/PostManager.tsx
  frontend/src/pages/RegionInfo.tsx
Labels: bugfix, frontend, backend, feature

#89 Production ver2
  backend/src/config/mysql/mysql.service.ts
  backend/src/domain/auth/auth.controller.ts
  backend/src/domain/auth/auth.service.ts
  backend/src/domain/auth/type/auth.ts
  backend/src/domain/product/product.controller.ts
  backend/src/domain/product/product.service.ts
  frontend/src/components/CustomInput.tsx
  frontend/src/components/Post/PostAddButton.tsx
  frontend/src/components/commons/Toast/ToastContainer.tsx
  frontend/src/constants/validation.ts
  frontend/src/hooks/useProductLike.ts
  frontend/src/lib/Router/components/Transition/Transition.tsx
  frontend/src/pages/Auth/OAuthRedirect.tsx
  frontend/src/pages/Auth/SignIn.tsx
  frontend/src/pages/Auth/SignUp.tsx
  frontend/src/pages/Chat/ChatRoom.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/Post/PostDetail.tsx
  frontend/src/pages/Post/PostManager.tsx
  frontend/src/pages/RegionInfo.tsx
  frontend/src/types/theme.d.ts
Labels: release
